/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Exa:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*main rules for the body*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: "Lexend Deca", serif;;

}

/*Header*/
header {
    background-color: blue;
}

/*Main*/
main {
    background-color: aqua;
    flex: 1 0 auto;
    /*So the main field takes most of the space*/
}

/*Footer*/
footer {
    background-color: bisque;

}